$green: #13964F;
$red: #E21A23;
$black: #000000;
$yellow: #F5AE3D;
$grey: #EFEFEF;

.green {
    background: $green;
}
.red {
    background: $red;
}
.yellow {
    background: $yellow;
}
.black {
    background: $black;
}
.grey {
    background: $grey;
}