.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-top: 1px solid #000;
}

.social-media {
    display: flex;
}

.social-icon {
    width: 26px;
    height: 26px;
    margin: 10px 5px;
}