.form-text, .form-textarea, .form-submit {
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #DDD;
}

.form-text {
    height: 50px;
    width: 50vw;
    text-align: center;
}

.form-textarea {
    height: 100px;
    width: 50vw;
    text-align: center;
}

.form-submit {
    height: 50px;
    width: 50vw;
}