.home-container {
    display: flex;
    justify-content: space-around;
}

.home-carousel, .home-mailing-list {
    border: 1px solid black;
    width: 46vw;
    height: 36vw;
    text-align: center;
}

.home-carousel {
    // background: #2a9d8f;
}
.home-mailing-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background: #e9c46a;
}


#contact-us {
    display: flex;
    flex-direction: column;
}

